@font-face {
	font-family: 'BarlowSemiCondensed';
	src: local('BarlowSemiCondensed'), url('assets/BarlowSemiCondensed-Medium.ttf');
}
body {
  margin: 0;
  font-family: 'BarlowSemiCondensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
